name: Preview Updater

on:
    schedule:
        -   cron: '20 2 * * *'
    workflow_dispatch:

permissions:
    contents: write
    pull-requests: write

jobs:
    main:
        uses: TheDragonCode/.github/.github/workflows/preview.yml@main

    ru:
        uses: TheDragonCode/.github/.github/workflows/preview.yml@main
        with:
            config: .github/preview-updater-ru.yml
